{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar" style="display: block;">
  <a href="{% url 'tasks' %}">&#8592; Back</a>
  <h1 style="padding: 10px;">Export To Do list data</h1>
</div>

  <div class="card-body">
    <form role="form" method="POST" action="{% url 'export-data' %}" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="task-wrapper" style="border-top: none;">
          <select class="custom-select" name="file-format">
            <option selected>Choose format type</option>
            <option>CSV</option>
            <option>JSON</option>
            <option>XLS (Excel)</option>
          </select>
          <button type="submit" class="button">Export</button>
        </div>
    </form>
  </div>
{% endblock %} 