{% extends 'base/main.html' %}
{% block content%}

<div class="header-bar">
    <h1>Login</h1>
</div>

<div class="card-body">  
    <form method="POST">
        {% csrf_token %}
        <label>{{form.username.label}}</label>
        {{form.username}}
        <label>{{form.password.label}}</label>
        {{form.password}}
         <input style="margin-top:10px" class="button" type="submit" value="Login">
        </form>
        <p>Dont have account yet? Click <a href="{% url 'register' %}" style="color:red">here</a> to register.</p>
</div>

{% endblock content%}